.dataContainer {
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.dataContainer.active {
  width: 70%; /* animation width for small/medium screens */
  opacity: 1;
}

/* --- Disable animation on large screens --- */
@media (min-width: 1024px) {
  .dataContainer {
    width: 20% !important; /* fixed width */
    opacity: 1 !important;
    overflow: visible;
    transition: none !important; /* disable transition */
  }
}

.blur-sm {
  filter: blur(1px);
  transition: filter 0.3s ease;
}
